keySize = 3rem

#keyboard
	width 13*keySize
	position relative
	left -0.4*keySize
	height 4*keySize
	padding-bottom 6px
	.row
		position absolute
		height keySize
	#row1
		margin-left 0.5*keySize
		top keySize
		padding-top 1px
	#row2
		margin-left 0.75*keySize
		top 2*keySize
		padding-top 2px
	#row3
		margin-left 1.25*keySize
		top 3*keySize
		padding-top 3px
	.key
		float left
		width keySize
		height keySize
		border solid 1px #333
		border-radius 0.1*keySize
		line-height 0.4*keySize
		font-size 0.3*keySize
		color #222
		position relative
		background #ddd
		margin-right -1px
		.keyinner
			position relative
			top 0.04*keySize
			left 0.1*keySize
			height 0.8*keySize
			width 0.8*keySize
			background #fff
			border-radius 0.1*keySize
			border solid 1px #ccc
			margin-left -1px
		&.pressed
			background #aaa
			.keyinner
				background #ddd
		.label
			position absolute
			left 0.07*keySize
		.layer0
			bottom 0
			font-size 0.275*keySize
		.layer1
			top 0
			font-size 0.275*keySize

#textarea
	position relative
	height 2.75rem
	width 100%
	border solid 1px #aaa
	border-radius 3px
	margin-top 1.375rem
	padding 0.375rem
	background whitesmoke
	color black
	font-size 0.3*keySize
	overflow-y scroll
	font-family "Open Sans", sans-serif, sans