@import 'nib'

// reset

global-reset()

header, nav, section, article, aside, footer
	display block

// rem fallback handled in /src/partials/scripts.html.eco

// colors

red = #ac2424
green = #0b8800
blue = #172bae
black = #222
lightBlack = #333
lightGrey = #aaa

// base sizes

html
	font-size 114%

lineH = 1.45rem

// basic type styles

body 
	background white
	padding 1.5*lineH lineH*0.5
	line-height lineH
	font-size 0.9rem
	font-family "Open Sans", "Segoe UI", "Frutiger Next", Frutiger, "Lucida Grande", sans-serif
	font-weight 400
	color black
	margin auto
	position relative
	max-width 855px

	@media screen and (min-width:768px)
		padding 3*lineH 0
	
	&.grid
		background url("/images/bg-21.png")
		background-size lineH lineH 

p
	margin-bottom lineH
	// nudge
	position relative
	top 0.2em

a 
	color blue
	text-decoration none
	&:visited
		color green
	&:active
		color red
	&:hover
		text-decoration underline

strong
	font-weight 600
	color lightBlack

em
	font-style italic

h1,h2,h3,h4,h5,h6 
	font-weight 600
	font-size 1rem
	color lightBlack

#title
	font-size 2rem
	line-height 1.5*lineH
	// nudge
	margin-top 0.25rem
	margin-bottom -0.25rem
	text-indent -0.1rem
	letter-spacing -0.066rem
	font-weight 700
	color lightBlack
	position relative
	*
		text-indent 0.1rem

h2 
	font-size 1.4rem
	line-height lineH
	// nudge
	margin-top 2.84rem
	margin-bottom 1.285rem
	text-indent -0.03rem
	color red
	font-weight 300

h3
	font-size 1.0rem
	line-height lineH
	// nudge
	margin-top 1.55rem
	margin-bottom -0.175rem
	font-weight 600

ul 
	margin-bottom 2*lineH

li 
	list-style circle
	margin-left 1.7rem
	position relative
	top 0.2rem

time
	color lightGrey
	padding-bottom lineH
	display block

img
	float right
	width 13rem
	max-width 40%
	padding 0 0 lineH*0.5 lineH*0.5
	margin-top 0.2rem
	
	@media screen and (max-width:480px)
		width 100%
		max-width none
		padding-right 0

// title image

#title div.imgwrapper
	height 3.2*lineH
	width 3.2*lineH
	border-radius 1.6*lineH
	overflow hidden
	float right
	// box-shadow inset 5px 5px 10px -3px rgba(0,0,0,0.3)
	position absolute
	top 50%
	right 0
	margin 0
	margin-top -1.6*lineH

	img
		height 5rem
		width auto
		max-width none
		position absolute
		top 50%
		left 50%
		transform translateY(-50%) translateX(-50%)
		z-index -1
		padding 0
		margin 0

#title div.imgpadding
	float right
	width 3.4*lineH
	height 3.4*lineH

#title div.imgpadding,
#title div.imgwrapper
	@media screen and (max-width:359px)
		display none


// post list & collapsing sections

#post-list
	margin-top 3.9rem

#post-list li
	list-style none
	margin 0

#post-list li a
	margin 0
	top -1px
	font-size 1.3rem
	text-decoration none !important
	display block
	position relative
	padding 0.5*lineH 0
	padding-right lineH
	border-top solid 1px #ddd
	margin-bottom -1px
	cursor pointer
	font-weight 300
	color #000

#post-list li:last-of-type::after
	content ""
	display block
	border-top solid 1px #ddd
	height 1px
	margin-bottom -1px
	top -1px
	position relative

#post-list span.date
	color lightGrey
	font-size 1rem
	font-weight 300
	display none

#post-list i
	position absolute
	right 0
	top 50%
	margin-top -1.05rem
	font-size 2rem
	color #ddd
	opacity 1

#post-list li a:hover,
#post-list li a:hover i
	color blue

#post-list li a:visited:hover,
#post-list li a:visited:hover i
	color green

#post-list li a:active,
#post-list li a:active i
	color red !important

#post-list li a:hover i
	opacity 0.5

::selection
	background #ffffaa

// keyboard layout tester

keySize = 3rem

#keyboard
	width 855px
	height 285px
	position relative
	left -1px
	background #333
	padding 1px 0 0 1px
	border-radius 5px
	.row
		float left
	.key
		float left
		width 56px
		height 56px
		margin 0 1px 1px 0
		border-radius 5px
		line-height 0.4*keySize
		color #222
		position relative
		background #ddd
		.keyinner
			position relative
			top 2px
			left 5px
			height 45px
			background #fff
			border-radius 5px
			border solid 1px #ccc
			.homing
				position: absolute;
				bottom: 10px;
				left: 50%;
				height: 0;
				width: 14px;
				margin-left: -7px;
				border-top: solid 1px #eee;
				border-bottom: solid 1px #aaa;
		&.dark
			background #ccc
			.keyinner
				background #eaeaea
				border-color #bbb
		&.big.bottom
			border-radius 0 0 5px 5px
			margin-top -1px
			padding-top 1px
			.keyinner
				margin-top -11px
				border-top none
				border-radius 0 0 5px 5px
				padding-top 11px
		&.big.top
			border-radius 5px 5px 0 5px
			.keyinner
				border-radius 5px 5px 0 5px
		.label
			position absolute
			width 18px
			border none
			background none
			font-size 0.25*keySize
			color #aaa
		.layer1,.layer3,.layer5
			bottom 0
		.layer2,.layer4,.layer6
			top 0
		.layer1,.layer2
			font-size 0.275*keySize
			color #222
			left 3px
		.layer3,.layer4,.layer5,.layer6
			right 3px
			text-align right
		&.layers1,&.layers2
			.layer3,.layer4,.layer5,.layer6
				display none
			.label
				width 90%
		&.layers1
			.layer2
				display none
			.layer1
				top 50%
				margin-top -20px
				left 7px
				font-size 76%
		&.layers4
			.layer5,.layer6
				display none
		&.layers6
			.layer3,.layer4
				left 50%
				margin-left -9px
				text-align center
		&.spacebar
			.label
				text-align center
	#tpButton1,#tpButton2,#tpButton3
		.label
			display none
	&.trackpoint
		margin-bottom 2*lineH
		#tpButton1,#tpButton2,#tpButton3
			.label
				position absolute
				width 90%
				height 80%
				border none
				background none
				font-size 0.25*keySize
				color #222
				display block
				left 7px
				font-size 76%
		#trackpoint
			background-image radial-gradient(10px 10px, circle cover, #e55, #b22)
			width 20px
			height 20px
			position absolute
			border-radius 10px
			top 158px
			left 375px
			box-shadow 0 0 5px #fff
			border solid 1px #333
		#tpButton1,#tpButton3
			width 100px
			position absolute
			bottom -51px
			height 50px
			background linear-gradient(#eee,#bbb)
			border solid 1px #333
			left 284px
			border-radius 0 0 5px 5px
			z-index 1
			.label
				top 0
				left 3px
			.stripe
				position: absolute;
				bottom: 3px;
				width: 61px;
				left: 3px;
				height: 3px;
				background: #cc0000;
				
		#tpButton3
			left 385px
			.label
				right 3px
				text-align right
			.stripe
				width: 62px;
				right: 3px;
				left: auto
		#tpButton2
			width 66px
			position absolute
			bottom -51px
			height 44px
			background linear-gradient(#cacaca,#eaeaea)
			border solid 1px #333
			left 351px
			z-index 2
			border-radius 5px 5px 0 0
			.label
				left 50%
				margin-left -30px
				width 60px
				text-align center
				bottom 0
			.stripe
				position: absolute;
				top: 3px;
				width: 57px;
				left: 5px;
				height: 3px;
				border-top: dotted 3px #6655D1;
					
			
#textarea
	position relative
	height 2.75rem
	width 855px
	border solid 1px #aaa
	border-radius 3px
	margin-top 1.375rem
	margin-left -1px
	padding 0.375rem
	background whitesmoke
	color black
	font-size 0.3*keySize
	font-family "Open Sans", sans-serif, sans
	margin-bottom 2*lineH